<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!-->
<html>
<!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
    <meta name="author" content="name">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">
    <link href="/css/main.css" rel="stylesheet" type="text/css" >
    <script type="module" src="/js/util.js"></script>
    <script type="module" src="/js/main.js"></script>
  </head>


  <body>
        <section class="navbar" id="navbar">
          <div class="navbar-wrapper">
          <div class="navbar-toggle" id="navbar-toggle">X</div>
          <div class="logo">
              <img src="/img/logo.png">
          </div>
          <div class="nav-info" id="dropdown">
            <h2 class="phone-number">(434)-555-6892</h2>
            <ul>
              <li>
                  <a href="#">Home</a>
              </li>
              <li>
                  <a href="#">Services</a>
              </li>
              <li>
                  <a href="#">Products</a>
              </li>
              <li>
                  <a href="#">About</a>
              </li>
              <li>
                  <a href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        </section>
        <section class="hero">
            <div class="hero-text">
              <div>Muscatines</div>
              <div>Trusted</div>
              <div class="orange-text">HVAC</div>
              <div>Experts</div>
            </div>
        </section>
        <section class="triangle"></section>
        <section class="about-us">
          <div class="about-us-wrapper">

          <div class="about-us-text">
            <div class="text-wrapper">
              <h2 class="orange-text">Its All About the Details</h2>
              <h3>A Local Expert Committed to Excellence</h3>
              <p> Since 2006, Chamberlin Heating &amp;
                Air Conditioning has been recognized as a top
                HVAC Contractor in Muscatine. We’ve provided clients
                with a wide range of contracting services for all their
                remodeling and repairing needs. Whether you’re
                looking to renovate your existing space or add
                 a whole new extension, we’re happy to help you
                 achieve the results you seek. </p>
                 <p class="orange-text">Contact us today to receive a <span class="blue-text">FREE</span> estimate</p>
                 <div class="contact-btn">
                   <a>Contact Us</a>
                 </div>
              </div>

            </div>
            <div class="img-wrapper">
              <div class="img">
                <img src="/img/family.png">
              </div>
            </div>

          </div>
        </section>
        <section class="res-com-wrapper">
            <div class="res-com">
              <div class="res">
                <div>
                  <img src="/img/house.png">
                </div>

              </div>
              <div class="res-com-and">
                <h2>Residential</h2>
                <h2>&amp;</h2>
                <h2>Commercial</h2>
              </div>
              <div class="com">

                    <img src="/img/res.png">



              </div>
            </div>
        </section>
        <section class="services">
            <div class="service-grid">
                <div class="service-info">
                    <div class="circle">

                    </div>
                    <div >
                        <h3>HVAC Repair & Installation</h3>
                        <p>We’ve got the right skills and the right tools to provide HVAC service you can depend on.</p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="circle">

                    </div>
                    <div>
                        <h3>Geothermal Air Conditioning</h3>
                        <p>One of the most energy-efficient cooling options available today cut costs while also protecting the earth. </p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="circle">

                    </div>
                    <div>
                        <h3>Sheet Metal Fabrication</h3>
                        <p>We are happy to customize a sheet metal fabrication solution to suit your specific needs and budget.</p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="circle">

                    </div>
                    <div>
                        <h3>Air Conditioning Repair and Installation</h3>
                        <p>Our qualified and experienced technicians will ensure your AC doesn’t leave you steamed.</p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="circle">
                    </div>
                    <div>
                        <h3>Heating Repair and Installation</h3>
                        <p>From professional installation to repair of your home’s heating system, we’ve got you covered.</p>
                    </div>
                </div>
                </div>
            </div>
        </section>
        <section class="res-com-wrapper">
            <div class="res-com">
              <div class="res">
                <div>
                  <img src="/img/fireplace.png">
                </div>

              </div>
              <div class="res-com-and">
                <h2>Products</h2>
              </div>
              <div class="com">

                    <img src="/img/grill.png" >



              </div>
            </div>
        </section>
        <section class="products-wrapper">
            <div class="products">
                <div class="fireplace product-square">
                    <h2>Fireplaces</h>
                </div>
                <div class="grill product-square">
                    <h2>Grills</h>
                </div>
                <div class="rub product-square">
                    <h2>Rubs</h2>
                </div>
                <div class="outdoor product-square">
                    <h2>Outdoors</h2>
                </div>
            </div>
        </section>
  </body>
</html>
