<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!-->
<html>
<!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
    <meta name="author" content="name">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">
    <link href="/css/main.css" rel="stylesheet" type="text/css" >
  </head>
  <body>
    <section class="navbar">
      <div class="logo">
          <img src="/img/logo1.png"></img>
      </div>
      <div class="nav-info">
        <h2 class="phone-number">(434)-555-6892</h2>
        <ul>
          <li>
              <a>Home</a>
          </li>
          <li>
              <a>Services</a>
          </li>
          <li>
              <a>Products</a>
          </li>
          <li>
              <a>About</a>
          </li>
          <li>
              <a>Contact</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="hero">
        <div class="hero-text">
            Muscatines Trusted<span class="orange-text">HVAC</span>Experts
        </div>
    </section>
    <section class="triangle"></section>
    <section class="about-us">
      <div class="about-us-text">
        <div class="text-wrapper">
          <h2 class="orange-text">Its All About the Details</h2>
          <h3>A Local Expert Committed to Excellence</h3>
          <p> Since 2006, Chamberlin Heating & Air Conditioning
            has been recognized as a top HVAC Contractor in
            Muscatine. We’ve provided clients with a wide
            range of contracting services for all their
            remodeling and repairing needs. Whether you’re
            looking to renovate your existing space or add
             a whole new extension, we’re happy to help you
             achieve the results you seek. </p>
            <div class="">
             <p class="orange-text" style="font-size: 16px;">Contact us today to receive a <span class="blue-text">FREE</span> estimate</p>

             </div>
             <div class="contact-btn">
               <a >Contact Us</a>
             </div>
          </div>

        </div>
        <div class="img-wrapper">
          <div class="img">
            <img src="/img/family.png"></img>
          </div>
        </div>
    </section>
    <section class="res-com-wrapper">
        <div class="res-com">
          <div class="res">
            <div>
              <img src="/img/house.png"></img>
              </div>
              <h2>Residential</h2>
          </div>
          <div class="res-com-and">
            <h2>
              &
            </h>
          </div>
          <div class="com">
            <div>
                <img  src="/img/res.png"></img>
            </div>

              <h2>Commercial</h2>
          </div>
        </div>
    </section>
  </body>
</html>
