@media only screen and (max-width: 1300px){

    @-webkit-keyframes Gradient {
		0%{background-position:0% 50%}
		100%{background-position: 29% 0%}
	}
	@-moz-keyframes Gradient {
		0%{background-position:0% 50%}
		100%{background-position: 29% 0%}
	}
	@keyframes Gradient {
		0%{background-position:0% 50%}
		100%{background-position: 29% 0%}
	}

  .contact-btn a{
  	-webkit-animation: Gradient 2s ease;
  	-moz-animation: Gradient 2s ease;
  	animation: Gradient 2s ease;
    animation-fill-mode: forwards;
  }
}

@media only screen and (max-width: 1023px){
  .about-us{
    flex-direction: column-reverse;
        align-items: center;
  }

  .about-us .about-us-text {
    display: flex;
    justify-content: center;
    width: 100%;
}

.about-us .img-wrapper .img {
  position: relative !important;
  min-width: unset !important;
  width: inherit !important;
}

  .about-us .img-wrapper {
  align-self: center;
  width: 100% !important;
  }

  .about-us-text .text-wrapper {
    text-align: center;
    width: inherit !important ;
  }

  body .about-us img-wrapper img{
    min-width: none;
    width: 100%;
  }

  body .contact-btn {
    text-align: center !important;
  }

  body .contact-btn a{
    display: inline-flex;
    left: 0px !important;
    bottom: 0px !important;
  }

  body .contact-btn a:active{
      bottom: -3px;
  }





}
