@import "/css/main-mQuerys.css" ;

body
{
  background: wheat;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
h1, h2{
  margin: 0;
}




.navbar{
  z-index: 1;
  display: flex;
  position: fixed;
  width: 100%;
  color: beige;
}

.navbar .logo{
  margin-right: auto;
  padding-left: 20px;
}

.navbar .logo img{
  height: 100%;
}

.navbar .nav-info{
  padding: 0px 20px 10px 0px;
}

.navbar .phone-number{
  text-align: right;
  margin: 15px 10px 15px 0px;
  font-size: 32px;
  letter-spacing: 3px;
}
.navbar ul{
  margin: 0px;
  display: flex;
  font-size: 18px;
  letter-spacing: 5px;
  padding-left: 0;
}
.navbar li{
  list-style-type: none;
  padding: 0px 10px 0px 20px;
}

.navbar li:not(:last-child){
    border-right: 1px solid rgba(153, 151, 151, 0.75);
    padding: 0px 20px 0px 20px;
}

.hero{
    background-image: linear-gradient(183deg, #5e5cd48a 34%, #ffffff), url(/img/city.png);
    min-height: 550px;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
  top: 200px;
  position: relative;
  font-size: 50px;
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
  font-weight: 800;
  color: beige;
}

.about-us-wrapper{
  background: white;
  height: 27vw;
  min-height: 300px;
  max-height:
}

.about-us-wrapper:before {
      content: '';
      position: absolute;
      z-index: 0;
      height: 1000px;
      width: 100%;
      top: -450px;
      background: white;
      clip-path: polygon(0 86%, 0% 100%, 100% 100%);
  }

.about-us{
  justify-content: space-evenly;
  display: flex;
      padding: 0px 5vw;
}

.about-us-text{
  position: relative;
  top: -95px;
  display: flex;
  align-self: center;
}

.about-us-text .text-wrapper{
 font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
 padding: 20px;
width: 500px;
}

.about-us-text .text-wrapper h2{
  font-size: 42px;
  letter-spacing: 1px;
}

.about-us-text .text-wrapper h3{
  font-size: 24px;
      font-weight: 400;
}

.about-us-text .text-wrapper p{
  line-height: 1.9em;
    margin: 10px 0;
}

.about-us .img-wrapper{
  position: relative;
  top: -115px;
  pointer-events: none;
}

.about-us .img-wrapper img{
  width: calc(26vw + 100px);
  min-width: 400px;
  pointer-events: none;
}

.orange-text{
  color: orange;

}

.blue-text{
  color: blue;
}

.contact-btn{
      text-align: end;
}

.contact-btn a:hover {
  background-color: red;
  cursor: pointer;
}

.contact-btn a{
  background-color: orange;
  background: linear-gradient(222deg, #000000 53%, orange 63%);
  box-shadow: 0 5px 0 darkred;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-flex;
  left: 100px;
  bottom: 70px;
  background-size: 500% 100%
}

.contact-btn a:active {
  box-shadow: none;
  bottom: 67px;
}
