@import "/css/main-mQuerys.css" ;

body
{
  background: white;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
h1, h2{
  margin: 0;
}




.navbar{
  z-index: 1;
  display: flex;
  position: fixed;
  width: 100%;
  color: beige;
}

.navbar .logo{
  margin-right: auto;
  padding-left: 20px;
}

.navbar .logo img{
  height: 100%;
}

.navbar .nav-info{
  padding: 0px 20px 10px 0px;
}

.navbar .phone-number{
  text-align: right;
  margin: 15px 10px 15px 0px;
  font-size: 32px;
  letter-spacing: 3px;
}
.navbar ul{
  margin: 0px;
  display: flex;
  font-size: 18px;
  letter-spacing: 5px;
  padding-left: 0;
}
.navbar li{
  list-style-type: none;
  padding: 0px 10px 0px 20px;
}

.navbar li:not(:last-child){
    border-right: 1px solid rgba(153, 151, 151, 0.75);
    padding: 0px 20px 0px 20px;
}

.hero{
    background-image: linear-gradient(183deg, #5e5cd48a 34%, #ffffff), url(/img/city.png);
        min-height: 548px;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-text{
  font-size: 50px;
      display: flex;
      justify-content: flex-end;
      font-weight: 800;
      color: beige;
}

.hero-text div{
    padding: 0 5px;
}
.triangle:before {
      content: '';
      position: absolute;
      z-index: 0;
      height: 1000px;
      width: 100%;
      top: -450px;
      background: gainsboro;
      clip-path: polygon(0 86%, 0% 100%, 100% 100%);
  }

.about-us{
  justify-content: center;
  display: flex;
  background: gainsboro;
}

.about-us-text{
  width: 700px;
  padding: 20px;
  background: white;
  margin: 20px;
  box-shadow: #7a7a7a 0px 1px 14px 0px;
}

.about-us-text .text-wrapper{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.about-us-text .text-wrapper h2{
  font-size: 42px;
  letter-spacing: 1px;
}

.about-us-text .text-wrapper h3{
  font-size: 24px;
      font-weight: 400;
}

.about-us-text .text-wrapper p{
  line-height: 1.9em;
  margin: 10px 0;
}

.text-wrapper p:nth-of-type(2)  {
  font-size: 20px;
}

.about-us-wrapper{
  max-height: 440px;
display: flex;
}


.about-us .img-wrapper .img{
  width: 30vw;
  max-width: 530px;
  min-width: 468px;
  position: relative;
  bottom: 110px;
  display: flex;
  /* justify-items: center; */
}


.about-us .img-wrapper .img img{
  width: 100%;
  height: 100%;
  /* position: absolute; */
  /* pointer-events: none; */
  /* max-width: 436px; */
  /* border-radius: 50%; */
  /* border: white solid 10px; */
  /* box-shadow: #7a7a7a 0px 1px 14px 0px; */
}

.orange-text{
  color: orange;

}

.blue-text{
  color: blue;
}

.contact-btn a:hover {
  background-color: red;
  cursor: pointer;
}


  body .contact-btn {
        text-align: end;
        position: relative;
        bottom: -3px;
  }

 .contact-btn a{
   background-color: #be7c00;
   position: relative;
   left: 20px;
   box-shadow: 0 5px 0 #875800;
   color: white;
   padding: 1em 1.5em;
  }


.contact-btn a:active {
  box-shadow: none;
  bottom: -5px;
}

.res-com-wrapper{
  padding: 50px 0px;
      margin: auto;
      width: 76vw;
}

.res-com{
  display: flex;
justify-content: space-between;
background: #f5d2d2;
position: relative;
left: 15px;
}

.res-com .res-com-and h2{
    font-size: 184px;
    color: #ffa500ba;
}

.res-com h2{
  font-size: 50px;
  letter-spacing: 20px;
  font-weight: 100;
  position: relative;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.res-com img{
      height: 240px;
}

.res{
  display: flex;
  position: relative;
  right: 118px;
  margin-right: -450px;
  align-items: center;
  }

.res h2{
      top: -40px;

}

.com{
  display: flex;
flex-direction: row-reverse;
left: 75px;
align-items: center;
margin-left: -421px;
position: relative;
}

.com h2{
      top: 40px;
}
